<!-- nav -->
<nav class="navbar navbar-expand navbar-light mb-5 bg-light">
    <h3 class="navbar-brand mr-auto">WRK</h3>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link">Sign up</a>
    </div>
</nav>

<div class="col-md-12 py-2 px-4 row">
    <div class="col-md-6 my-auto">
        <h1 class="display-4">WRK</h1>
        <h4 class="lead">Automated infrastructure compliance monitoring made easy</h4>
    </div>

    <div class="col-md-6 row justify-content-center">
        <img src="../../assets/images/035-checklist.png" height="300" alt="ping">
    </div>
</div>




